<link rel="stylesheet" href="/styles/game-page.css" media="screen" title="no title" charset="utf-8">

<!-- THREE PANELS -->
<div class="gamepad">
    <div class="row">

    <!-- LEFT PANEL -->
    <div class="col-md-4">
        <!-- LEFT PANEL PLAYER AVATAR -->
        <div id="playerAvatar" class="female-char character">
            <lottie-player 
                src="https://assets1.lottiefiles.com/packages/lf20_FQaALa.json" id="doc_fem" background="transparent"  speed="1"  style="width: 50%; height: 50%; margin: auto;"  loop autoplay >
            </lottie-player>
        </div>
        <hr>
        <!-- LEFT PANEL PATIENT INFO & TREATMENTS -->
        <div id="patientSymptoms">
            <h2>PATIENT SYMPTOMS</h2>
            <button type="button" class="btn btn-info btn-block">{{diseases.symptom1}}</button>
            <button type="button" class="btn btn-info btn-block">{{diseases.symptom2}}</button>
            <button type="button" class="btn btn-info btn-block">{{diseases.symptom3}}</button>
        </div>
        <hr>
        <div id="treatmentOptions">
            <h2>TREATMENT OPTIONS</h2>
            <button type="button" class="btn btn-info btn-block">{{treatments.treatmentName}}</button>
            <button type="button" class="btn btn-info btn-block">{{treatments.treatmentName}}</button>
            <button type="button" class="btn btn-info btn-block">{{treatments.treatmentName}}</button>
        </div>
        <hr>

    </div>

    <!-- CENTER PANEL = PATIENT -->
    <div class="col-md-4" id="patient-panel" style="border-right: solid 3px #D1603D; border-left: solid 3px #D1603D;">
        <h2>PATIENT</h2>
        <lottie-player
        src="https://assets3.lottiefiles.com/packages/lf20_4rH0mn.json"  id="patientAvatar" background="transparent"  speed="1"  style="width: 60%; height: 75%; margin: auto;"  loop autoplay >
        </lottie-player>
        <hr>
        <div id="patientHealth">
            <h2>Life Force</h2>
            <h1>50</h1>
        </div>
    </div>
  
    <!-- RIGHT PANEL = PLAYER'S LOG -->
    <div class="col-md-4" id="log">
        <h2>LOG BOOK</h2>
        <button type="button" class="btn btn-info btn-block"><strong>{{effects.effectName}}</strong> {{effects.effectDescription}}</button>
    </div>

</div>
</div>
<!-- link to charCreation.js -->
<script src="/js/charCreation.js"></script>
